<div class="container">
    <div class="card w-100">
        <h2 class="py-3 text-center">Todo Lists</h2>
        <div class="d-flex justify-content-end px-5">
            <button class="btn btn-primary " (click)="openAddTodoModal()"> Add new task</button>
        </div>
        <div cdkDropListGroup class="container text-center container px-5">
            <div class="todo-list">
              <h2>To do</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="todo"
                class="task-list"
                (cdkDropListDropped)="drop($event)">
                <div class="todo-box flex-column" *ngFor="let item of todo;let i=index" cdkDrag>
                    <div class="w-100 text-left">
                        <h4 class="font-weight-bold text-capitalize">{{item.title}}</h4>
                       <p>{{item.description}}</p> 
                    </div>
                    <div class="d-flex justify-content-between w-100">
                        {{item.date | date:'short'}}
                        <div class="d-flex align-items-center">
                            <mat-icon class="icons" (click)="openAddTodoModal(item)">edit</mat-icon>
                            <mat-icon class="icons text-danger" (click)="openDeleteTodoModel(item)">delete</mat-icon>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          
            <div class="todo-list">
              <h2>Complete Task</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="task-list"
                (cdkDropListDropped)="drop($event)">
                <div class="todo-box flex-column text-left complete-todo-box" *ngFor="let item of done" cdkDrag>
                    <div class="w-100 ">
                        <h4 class="font-weight-bold text-capitalize">{{item.title}}</h4>
                       <p class="">{{item.description}}</p> 
                    </div>
                    <div class="d-flex justify-content-start w-100">
                        {{item.date | date:'short'}}
                    </div>  
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


<ng-template #addTodoModel let-data>
    <h4 class="text-center">{{currentTitle}} </h4>
    <div class="error-message"
        *ngIf="error.length && isError">
        {{error}}
    </div>
    <form [formGroup]="todoForm">
        <div class="form-group">
            <input type="text" 
            class="form-control" 
            id="title"  
            placeholder="Title"
            formControlName="title">
        </div>
        <div class="form-group h-75">
            <textarea type="text" 
            class="form-control h-100 no-resize" 
            id="description"  
            row="8"
            placeholder="Description"
            formControlName="description">
            </textarea>
        </div>
        <div class="action">
            <div class="d-flex justify-content-end ">
                <button class="btn btn-primary mr-2" [mat-dialog-close]="'cancel'">Cancel</button>
                <button class="btn btn-primary" 
                (click)="addTodoTask()"
                [disabled]="todoForm.invalid"
                *ngIf="!data">
                    Add
                </button>
                <button class="btn btn-primary" 
                (click)="editData(data)"
                [disabled]="todoForm.invalid"
                *ngIf="data">
                    Edit
                </button>
            </div>
        </div>
    </form>
</ng-template>


<ng-template #deleteTodoModel let-data>
    <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>
    <div class="delete-cion">
         <span>!</span>
    </div>
    <h2 class="text-center">Are you sure you want to delete ?</h2>
    <div class="text-center">
        <button class="btn btn-primary" 
        [mat-dialog-close]="'delete'">
            Yes, Delete
        </button>
    </div>
</ng-template>