.todo-list {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .task-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .todo-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    background: #9b96960a;
  }

  .complete-todo-box {
    background: #55b045 !important;
    color: #fff !important;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .todo-box:last-child {
    border: none;
  }
  
  .task-list.cdk-drop-list-dragging .todo-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .no-resize {
      resize: none;
  }

  form {
      height: 80%;
  }

  .error-message {
    padding: 10px 14px;
    color: #e50000;
    background: #e5000038;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px dotted #e50000;
  }

  ::ng-deep {
      .icon {
          cursor: pointer;
      }
    .delete-todo {
        .close-icon {
            position: absolute;
            right: 13px;
            top: 13px;
        }
        .delete-cion {
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 50%;
            margin: auto;
            font-size: 30px;
            background: #e6e03d;
            color: #fff;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
       
    }
  }